.App {
  text-align: center;
}

.person-card{
  width: 80%;
  margin-bottom: 20px;
  border: 3px solid red;
  padding: 20px;
  background: lightsalmon;
}
.item{
  display: flex;
}
.item-card{
  width: 300px;
  background: #61dafb;
  border: 3px solid #f1f6ff;
}
